
:root {
	font-size: 12pt;
	color: black;
	background-color: white;
}

.job {
	border: 1px solid darkgrey;
	padding: 0.5em;
	border-radius: 5px;
	margin-top: 0.5em;
}

.job h1 {
	margin-top: 0px;
	font-size: 14pt;
}

.job p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.jobList {
	padding: 0.5em;
}

.jobForm {
	display: table;
}

.jobForm > div {
	display: table-row;
}

.jobForm label {
	display: table-cell;
	padding-right: 1em;
}

.jobFormInput {
	display: table-cell;
}

.showNotDue {
	color: black;
	text-decoration: none;
}

input {
	font-size: 16px;
}

.errorBox {
	border-radius: 5px;
	padding: 0.15em;
	margin: 1.5em;
	background-color: red;
	color: white;
	font-weight: bold;
	text-align: center;
}
